
  .carousel-wrappper{
        padding-top: 72px;
            .slick-arrow {
                top: -103px;
                right: 100px;
                background-image: url(../../assets/images/sliderarrow.svg);
                height: 32px;
                width: 32px;
                background-repeat: no-repeat;
                background-size: 32px 32px;
                left: auto;
                &.ant-btn-default{
                    box-shadow: none;
                }
                &.slick-prev{
                    right: 135px; 
                    transform: rotate(180deg);
                }
                &.slick-disabled{
                    opacity: 0.4;
                }
                &:hover , &:focus{
                    background-image: url(../../assets/images/sliderarrow.svg);
                    background-repeat: no-repeat;
                }
            }
            .slick-list{
                overflow: visible;
            }
            .slick-slide{
               padding: 0 8px;
               .best-seller-img-wrapper{
                border-radius: 8px;
                background: #F8F4F2;
                margin-bottom: 8px;
               }
               .product-type{
                color: #0F3141;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.14px;
                text-transform: capitalize;
               }
               h3{
                color:  #0F3141;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px; 
                letter-spacing: 0.2px;
               }
               p{
                color:  #0F3141;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.12px;
               }
               .price{
                color: #F07454;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px; 
                letter-spacing: 0.18px;
                text-transform: capitalize;
               }
            }
        }